<div class="jumbotron">
  <h1>About</h1>
  <p>Top tips is a collection of expert advice on  anything and hopefully, one day, everything.</p>
  <p>Tips are defined as a small but useful piece of practical advice. Therefore, a good tip needs to be:</p>
  <p>Specfic - related to a particular subject and not the world at large.</p>
  <p>Consistent - universally applicable rather than based on particular circumstances. </p>
  <p>Evidenced - backed up by quantitative or qualitative analysis.</p>
</div>
