<div class="jumbotron">
  <h1>Top Tips </h1>
  <br />
  <% if user_signed_in? %> 
    Welcome :)
  <% else %> 
    <%=link_to "Sign Up",new_user_registration_path, class: "btn btn-primary btn-lg"%>
    <br />
    <br />
    <%=link_to "Log In", new_user_session_path, class: "btn btn-default btn-xs" %>
  <% end %>
</div>
