<div class="jumbotron">
  <h1>Top Tips </h1>
  <p>Click here for access to top tips <%=link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%></p>
  <p><%=link_to "Log In", "#", class: "btn btn-primary btn-lg"%></p>
</div>